
body{
    background-color: black;
    margin-left: 75px;

}

.global2 {
    display: flex;
    flex-direction: row;
}
.casediv2{

    background-color: #FFFF77;
    width:  75px;
    height: 75px;
    border:solid 1px #FFFF77;
    margin: 2px;

}

.rouge{
    width:  75px;
    height: 75px;
    margin: 2px;
    background-color: #FF7777;
    border:1px solid red;
}
.bleu{

    width:  75px;
    height: 75px;
    margin: 2px;
    background-color: #7777FF;
    border:1px solid blue;
}
.lescases2{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 240px;
    flex-wrap: wrap;
    font-size: 50px;
    text-align: center;
}

.title{

    background-color: #FFFF77;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
    width: 200px;
    height: 40px;
    padding: 5px;
    text-align: center;

}

.classTitle{
    display: flex;
    flex-direction: row;

}


.lien{

    background-color: #FFFF77;
    padding: 3px;
    font-size: small;
    width:250px;
    height: 15px;
    text-align: center;
    margin-top: 25px;
}
.PagePrincipal2
{
    width:210px;
    height: 120px;
    background-color: #FFFF77;
    padding: 5px;
    margin-left:30px;
    margin-top: 30px;
    margin-right: 20px;


}
.jeuxTicTac2{
    background-color: #FFFF77;
    padding: 10px;
    font-weight: bold;
    margin:1px;
    height: 34px;


}
img{
    width:75px;
    margin-left: 65px;
    margin-top: 5px;

    }
.joueuro{
    background-color: #7777FF;
    border:1px solid blue;
    width: 150px;
    height: 34px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;

}
.joueurx{
    background-color: #FF7777;
    border: red 1px solid;
    width: 150px;
    height: 34px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;

}
.gagne{
    width: 150px;
    height: 34px;
    background-color: #FFFF77;
    padding: 10px;
    font-weight: bold;
    margin:1px;
    position: fixed;
    top: 192px;
}

@media screen and (max-width : 800px){
/*Classe du div qui englobe les deux paragraphe title et lien*/
.classTitle{
    display: flex;
    flex-direction: column;

}
/*Lien de la page principale*/
    .lien{
        margin-left:30px;
    }

    /*Titre de la page principale*/
    .title{

        margin-left:50px;
        margin-bottom: 5px;

     }
/*La section principale qui englobe le tout*/
    .global2{
        display: flex;
        flex-direction: column;

    }

/*Retour à la page principale*/
    .PagePrincipal2
    {

        margin-left: 8px;
        margin-bottom: 5px;


    }
    /*div du titre */
    .jeuxTicTac2{

        width: 150px;
        height: 20px;
        font-weight: bold;
        margin-left: 30px;
        margin-top: 5px;

    }

    .joueurx{

        margin-left: 27px;
        height: 20px;

    }
    .joueuro
    {
        margin-left: 27px;
        height: 20px;
    }
/*classe du joueur gagnant*/
    .gagne{

        position: fixed;
        top: 557px;
        left: 100px;
        height: 20px;
    }
}

